{{#if owner}}
<div class=" input-group row mb-12 post position-relative border border-5 border-dark rounded mt-2 mb-2">
  <div class="col-md-12 d-flex bg-dark text-white position-relative">
    <h2 class="d-flex flex-row bg-dark text-white position-relative">
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text bg-dark text-primary" style="border: none;"><b>Title</b></span>
        </div>
        <div class="input-group-prepend">
          <span class="input-group-text" style="display:none;" id="id">{{id}}</span>
        </div>
        <input type="text" class="bg-dark text-primary" id="title" value="{{name}}">
      </div>
    </h2>
      <p class="d-flex float-md-right pull-right position-relative ml-auto">Posted by {{user.name}} on {{format_date date_created}}</p>

    
  </div>
  <div class="col-md-10">
    <div class="input-group">
      <span class="input-group-text bg-secondary text-light fs-4" style="border: none;">Post</span>
      <textarea id="post" class="form-control bg-secondary text-light" rows="5" aria-label="With textarea">{{description}}</textarea>
    </div>
  </div>
</div>
  <div class="col-md-4 m-auto d-flex">
    <button class="btn btn-primary d-flex position-relative justify-content-center align-content-center m-auto" type="button" id="editPost">Save Post</button>
    <button class="btn btn-sm btn-danger del-btn m-auto" data-id="{{id}}">DELETE</button>
  </div>
{{else}}
<div class="row mb-12 post position-relative border border-5 border-dark rounded mt-2 mb-2">
  <div class="col-md-12 d-flex bg-dark text-white position-relative">
    <h2 class="d-flex flex-row bg-dark text-white position-relative">
      <span class="input-group-text" style="display:none;" id="id">{{id}}</span>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
    <p ><h2 class="bg-dark text-primary">{{name}}</h2></p>
    </h2>
      <p class="d-flex float-md-right pull-right position-relative ml-auto">Posted by {{user.name}} on {{format_date date_created}}</p>

    
  </div>
  <div class="col-md-7">
    <p class="fs-5 text-light">
      {{description}}
    </p>
  </div>
</div>
{{/if}}
<div class="row mb-12 post position-relative border border-5 border-dark rounded mt-2 mb-2">
  <div class="col-md-12 d-flex bg-dark text-white position-relative">
    <h2 class="d-flex flex-row bg-dark text-white position-relative">
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
    <p>Comments</p>
    </h2>
  </div>
</div>
{{#each comments as |comment| }}
<div class="row mb-12 post position-relative border border-5 border-dark rounded mt-2 mb-2">
  <div class="col-md-7">
    <p class="fs-5 text-light">
      {{comment.comment}}
    </p>
  </div>
</div>
{{/each}}
<div class="row mb-12 post position-relative border border-5 border-dark rounded mt-2 mb-2">
  <div class="col-md-12 d-flex bg-dark text-white position-relative">
    <h2 class="d-flex flex-row bg-dark text-white position-relative">
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
    <p>New Comment</p>
    </h2>   
  </div>
  <div class="col-md-12">
    
    <div class="input-group">
      {{!-- <textarea name="Text2" class="bg-secondary text-white input-group-text" cols="40" rows="5" id="comment" style="min-height:100px;min-width:90%;" wrap="hard"></textarea> --}}
      <div class="input-group">
        <span class="input-group-text bg-secondary text-light fs-4" style="border: none;">Comment</span>
        <textarea id="comment" class="form-control bg-secondary text-light fs-4" aria-label="With textarea"></textarea>
      </div>
    </div>
    <button class="btn btn-primary d-flex position-relative justify-content-center align-content-center m-auto" type="button" id="save-comment">Save Comment</button>

  </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../js/editPost.js"></script>
